.central-div {
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

.nav-btn {
    color: rgb(48, 123, 167);
    border: none;
    background-color: inherit;
    display: inline-block;
    font-size: large;
    text-decoration: underline;
}
.nav-btn:focus{
    outline: none;
}

.not-bordered{
    border-bottom: 0ch;
}